@import "../../styles/variables";

.list-link-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: $list-link-button-background;
  color: $list-link-button-content;
  border: none;
  padding: 8px;
  margin: 2px 4px;
  cursor: $button-cursor;

  .list-link-button-text {
    margin: 0px 8px;
  }
}
