@import "../../styles/variables";

.list-link-button {
  background-color: white;
  border: 2px solid green;
  padding: 8px;
  margin: 8px;

  .list-link-button-a {
    border: 2px solid black;
    .list-link-button-title {
      color: green;
      border: 2px solid red;
    }
  }
}
