// base colors
$grey-20: #ededf0;
$grey-30: #d7d7db;
$grey-40: #b1b1b3;
$grey-60: #4a4a4f;
$grey-90: #0c0c0d;

// mapped colors
$popup-background: $grey-60;
$popup-toolbar-background: $grey-90;
$popup-toolbar-icon: $grey-20;
