// base colors
$white: #fff;
$off-white: #f6f8fa;

$dark-grey: #24292e;
$blue: #0366d6;
$black: #24292e;

$grey-20: #ededf0;
$grey-30: #d7d7db;
$grey-40: #b1b1b3;
$grey-60: #4a4a4f;
$grey-90: #0c0c0d;

// mapped colors
$popup-toolbar-background: $dark-grey;
$popup-toolbar-icon: $white;

$popup-background: $off-white;

$list-link-button-background: $white;
$list-link-button-content: $blue;

$options-background: $off-white;
$options-foreground: $white;
$options-text: $black;

// global scss variables
$button-cursor: pointer;
